.assignment-details-container {
  background: var(--bgblue);
  padding: 20px;
  min-height: calc(100vh - 40px);
}

.assignment-details-card {
  border-radius: 20px !important;
  -webkit-box-shadow: 10px 10px 5px 0px var(--black) !important;
  -moz-box-shadow: 10px 10px 5px 0px var(--black)  !important;
  box-shadow: 10px 10px 5px 0px var(--black)  !important;
}

.back-button {
  margin-bottom: 10px;
}

.ant-upload.ant-upload-drag {
  padding: 16px;
  background: #fafafa;
  border: 1px dashed #dfdfdf;
  border-radius: 2px;
}

.ant-upload.ant-upload-drag:hover {
  border-color: var(--lightblue) !important;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}