.login-form-wrapper{
    display: flex;
    justify-content: center;
    background-image: url("../src/images/login_bg.jpg");
    align-items: center;
    height: 100vh;
}

.login-items{
    width: 369px;
    height: 600px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}